* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background-color: #222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search {
    margin-left: 41px;
}

.header__account {
    margin-left: 34px;
    margin-right: 34px;
}

.promo {
    background: rgba(113, 103, 105, 0.08);
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    display: flex;
}

.promo__left {
    width: 50%;
}

.promo__img {
    width: 100%;
}

.promo__right {
    width: 50%;
    background: #F1E4E6;
    display: flex;
    align-items: center;
    padding-left: 92px;
}

.catalog {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.catalog__item {
    position: relative;
    
}

.catalog__item:not(:last-child) {
    margin-right: 30px;
}

.catalog__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog__img {
    width: 100%;
}

.catalog-big {
    margin-top: 30px;
}

.catalog-big__img {
    width: 100%;
}

.info {
    background: #222224;
    height: 341px;
}

.info__pictures {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 103px;
    height: 134px;
}

.info__heading {
    text-align: center;
    color: #FBFBFB;
}

.info__text {
    padding-top: 16px;
    width: 360px;
    text-align: center;
    color: #FBFBFB;
}

.pictures__delivery {
    padding-bottom: 28px;
}

.pictures__discount {
    padding-bottom: 19px;
}

.pictures__crown {
    padding-bottom: 25px;
}

.footer {
    background-image: url(img/subscribe.png);
    width: 100%;
    height: 448px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quote {
    text-align: center;
}

.quote-women {
    margin-bottom: 44px;
}

.footer__heading {
    text-align: center;
}

.subscribe {
    padding-right: 100px;
}

.footer__text {
    width: 360px;
    padding-bottom: 32px;
    text-align: center;
}

.input__email {
    height: 49px;
    width: 256px;
    background: #E1E1E1;
    outline: none;
    border: none;
    border-radius: 30px 0px 0px 30px;
}

input {
    padding-left: 22px;
}

form {
    display: inline-flex;
}

.footer__button {
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 100px;
    height: 49px;
    background: #F16D7F;
    border-radius: 0px 30px 30px 0px;
    outline: none;
    border: none;
}

.contacts {
    background: #222224;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contacts__text {
    color: #FBFBFB;
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-networks {
    height: 32px;
}